extends layout

block content
  section.hero
    h1 Bienvenido 
  section.categories
    ul
      li
        a(href='/stars') Estrellas
      li
        a(href='/planets') Planetas del Sistema Solar
      li
        a(href='/deepSkyObjects') Objetos del Cielo Profundo
      li
        a(href='/cometAsteroids') Cometas y Asteroides

  section.about
    h2 Sobre Nosotros